{  CIDER: {    init: "",    make: "",    parent: "#",    projectSpace: "TEMP2",    project_url: "",    source: "APLSource",    dependencies: {        tatin: "",    },    dependencies_dev: {        tatin: "",    },    tests: "",  },  LINK: {    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
