aplcore
/Dist/
CONTINUE.dws
conga.crash
/tatin-packages/*
!/tatin-packages/apl-dependencies.txt
!/tatin-packages/apl-buildlist.json
/tatin-packages_dev/*
!/tatin-packages_dev/apl-dependencies.txt
!/tatin-packages_dev/apl-buildlist.json

**/.DS_Store
/docs/site/
/.venv/
/TestResults/

# Internal documents are kept local in:
/private/