{
  CIDER: {
    cider_version: "0.42.1",
    dependencies: {
      nuget: "",
      tatin: "tatin-packages=Cider",
    },
    dependencies_dev: {
      tatin: "tatin-packages_dev=TestCases",
    },
    distributionFolder: "Dist",
    init: "Cider.Init",
    make: "Admin.Make 1",
    parent: "#",
    projectSpace: "Cider",
    project_url: "https://github.com/aplteam/cider",
    source: "APLSource",
    tatinVars: "Cider",
    tests: "TestCases.RunTests",
  },
  LINK: {
    fastLoad: 1,
    forceFilenames: 1,
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
