{
  CIDER: {
    dependencies: {
      tatin: "",
      nuget: "nuget-dependencies",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "TEMP",
    project_url: "",
    source: "APLSource",
    tests: "",
  },
  LINK: {
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
