{  CIDER: {    dependencies: {      tatin: "packages",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "",    init: "",    make: "",    parent: "#",    projectSpace: "Foo",    project_url: "",    source: "APLSource",    tests: "",  },  LINK: {    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    PP: 10,    Pw: 101,    doesnotexist: 9,    fr: 1287,    io: 1,    ml: 1,  },  USER: {  },}
