{
  CIDER: {
    cider_version: "0.42.0",
    dependencies: {
      nuget: "",
      tatin: "packages",
    },
    dependencies_dev: {
      tatin: "packages_dev=TestCases",
    },
    distributionFolder: "",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "Foo",
    project_url: "",
    source: "APLSource",
    tests: "",
  },
  LINK: {
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
