{  CIDER: {    project_url: "",    init: "Admin.Info",    make="",                // deliberately invalid    parent: "#",    projectSpace: "Tatin",    source: "APLSource",    dependencies: {        tatin: "",    },    dependencies_dev: {        tatin: "",    },    tests: "",  },  LINK: {    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {    convertFromAcre: 1,    keepHistory: "Off",  },}
