{  CIDER: {    init: "",    make: "",    parent: "⎕SE",    projectSpace: "TEMP",    project_url: "",    source: "APLSource",    dependencies: {        tatin: "",    },    dependencies_dev: {        tatin: "",    },    tests: "",  },  LINK: {    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {    Name: "Test_Misc_001",  },}
