{  CIDER: {    init: "",    make: "",    parent: "#",    projectSpace: "Project_Foo",    project_url: "",    source: "APLSource",    dependencies: {        tatin: "packages",    },    dependencies_dev: {        tatin: "packages_dev=TestCases",    },    tests: "",  },  LINK: {    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
