{  CIDER: {    dependencies: {      nuget: "nuget-packages",      tatin: "",    },    dependencies_dev: {      tatin: "",    },    distributionFolder: "",    init: "",    make: "",    parent: "#",    projectSpace: "TEMP",    project_url: "",    source: "APLSource",    tests: "",  },  LINK: {    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
